<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>乐天-平平淡淡就是幸福 http://Xyg.Name</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-19456469-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<h1><a href="/">乐天-平平淡淡就是幸福 http://Xyg.Name</a></h1>
			</div>
			<br />
			{{ content }}

			<p class="nav">关于我</p>
			<ul class="index">
				<li>喜欢玩游戏，饱受游戏的多年毒害，但目前从事网游开发，貌似在毒害下一代</li>
				<li>喜欢折腾数码类产品，平均一年换2个以上手机</li>
				<li>iPod，iPhone，iMac，Macbook Air，iPad...下一个是什么？</li>
				<li>已过三十的老男人，唯一的成就是有两个可爱又调皮捣蛋的儿子</li>
			</ul>

			<p class="nav">链接</p>
			<div>
				<a href="http://github.com/">github</a><span style="color:#999"> / </span>
				<a href="http://twitter.com/xyg">twitter</a>
			</div>

			<p class="nav">联系方式</p>
			<div>Email/Msn/QQ/GTalk:i#xyg.name (替换#为@)</div>

			<div id="footer">
				<span style="color:#aaa">平平淡淡就是一种幸福</span>
				<hr />
			</div>
		</div>
		<!--
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		-->
	</body>
</html>

