<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>乐天-平平淡淡就是幸福 http://Xyg.Name</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	</head>

	<body>
		<div id="wrapper">
			<br />
			{{ content }}

			<p class="nav">关于我</p>
			<ul class="index">
				<li>喜欢玩游戏，不过不感冒网游，但目前从事网游开发。</li>
				<li>喜欢折腾数码类，平均一年换2个以上手机</li>
				<li>iPod，iPhone，iMac，Macbook Air，iPad...下一个是什么？</li>
			</ul>

			<p class="nav">链接</p>
			<div>
				<a href="http://github.com/">github</a><span style="color:#999"> / </span>
				<a href="http://twitter.com/xyg">twitter</a>
			</div>

			<p class="nav">联系方式</p>
			<div>Email/Msn/QQ/GTalk:i#xyg.name (替换#为@)</div>

			<div id="footer">
				<span style="color:#aaa">平平淡淡就是一种幸福</span>
				<hr />
			</div>
		</div>
		<!--
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		-->
	</body>
</html>

